:root {
  --background-primary: #bfac9a;
  --color-primary: #241C19;
  --color-secondary: rgb(55, 55, 55);
  --color-dash: #bfac9a;
  --background-reverse: #241C19;
  --color-reverse: #bfac9a;
  --box-shadow: rgba(0, 0, 0, 0.3);
}

html {
  font-size: 16px;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.iconLink {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
}

.git-icon {
  height: 3.1rem;
  width: 70%;
  color: #f1b069;
}

.globe-icon {
  height: 3.1rem;
  width: 100%;
  color: #f1b069;
}

.sun {
  --background-primary: #bfac9a;
  --color-primary: #241C19;
  --color-secondary: rgb(66, 66, 66);
}

.moon {
  --background-primary: #241C19;
  --color-primary: #bfac9a;
  --color-secondary: rgb(184, 184, 184);
  --box-shadow: rgba(255, 255, 255, 0.3);
}

html, body {
  background-color: var(--background-primary);
  color: var(--color-primary);
  font-family: "Roboto Mono";
  font-weight: 400;
  overflow-y: scroll;
}

body {
  margin: 0;
  padding: 0;
}

h1, h2, p {
  color: var(--color-primary);
}

h4 {
  color: var(--color-secondary);
}

textarea {
  width: 100%;
  height: 1.3em;
  color: var(--color-primary);
  background-color: var(--background-primary);
  font-size: 1.25em;
  border-color: var(--color-dash);
  border-width: 0 0 2px;
  resize: both;
  outline: 0;
}

textarea:focus {
  border-color: var(--color-primary);
}

textarea::placeholder {
  color: var(--color-dash);
}

input[type="submit"] {
  background-color: var(--background-reverse);
  color: var(--color-reverse);
  font-size: 1em;
  border-radius: 5px;
}

@media (hover: none) {
  .my-theme_toggle {
    color: var(--color-primary);
  }
}

.fa {
  transition: transform 0.3s ease, color 0.3s ease;
  color: #4a3023;
}


.fa-linkedin:hover,
.fa-github:hover,
.fa-twitter:hover {
  color: #f1b069;
  transform: scale(1.1);
  cursor: pointer;
}

a, a:visited, a:active, .theme_toggle, .theme_toggle:visited, .theme_toggle:active {
  text-decoration: none;
  color: #4a3023;
}

a:hover, .theme_toggle:hover {
  color: #f1b069;
  background-color: #271c1a;
  width: 100%;
  padding: 3px;
  border-radius: 10px;
  cursor: pointer;
}

a:active:hover, .theme_toggle:active:hover {
  color: #f1b069;
}

#outer {
  display: flex;
  flex-direction: row;
  min-height: calc(50vh / 3);
  align-items: center;
}

#inner {
  display: flex;
  flex-direction: row;
  flex-basis: calc(100% / 3);
  align-items: flex-start;
  flex-shrink: 10;
}

#form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

/* #nav_bar {
  text-align: right;
  max-width: max-content;
  margin-right: 5vh;
  flex-grow: 3;
  line-height: 35px;
  background-color: var(--background-primary);
  color: var(--color-primary);
  box-shadow: var(--box-shadow);
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
} */

/* #nav_bar .nav-link {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

#nav_bar .nav-link:hover {
  color: var(--color-reverse);
} */


.nav_element {
  color: #1a1311;
}

#content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  flex-grow: 7;
  max-height: max-content;
}

.clickable, .clickable:visited, .clickable:active {
  cursor: pointer;
  text-decoration: underline;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  color: var(--color-primary);
}

.clickable:hover, .credit:hover {
  color: #76453B !important;
}

.tooltip {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-5%);
  background-color: #AB886D;
  color: white;
  padding: 2px 10px;
  border-radius: 5px;
  font-size: 0.75em;
  z-index: 10;
  box-shadow: 0 4px 6px rgba(73, 73, 73, 0.626);
}

.clickable:hover .tooltip {
  display: block;
}

.credit, .credit:visited, .credit:active {
  cursor: pointer;
  text-decoration: underline;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.credit_p {
  font-size: small;
  margin-top: -10px;
}



.disclaimer {
  font-size: x-small;
}

.count {
  font-size: x-small;
  text-align: right;
  align-self: flex-start;
  margin-top: -5px;
}

.box {
  outline: 2px solid var(--color-primary);
}
.footer{
  width:max-content;
}

.food {
  max-width: 50%;
}

.venn {
  max-width: 100%;
}

.portfolio-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #241C19;
  padding: 10px;
  border-radius: 30px;
  width: 170%;
}

.portfolio-item {
  overflow: hidden;
  border-radius: 5%;
  width: 45%;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.portfolio-item-inner {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  padding: 1rem;
  height: auto;
  display: flex;
  flex-direction: column;
}

.project-image {
  /* min-width: fit-content; */
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 10%;
}

.project-mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5%;
  background-color: rgba(36, 28, 25, 0.6);
  opacity: 0;
  transition: 0.3s ease;
}

.portfolio-item-inner:hover .project-mask {
  opacity: 1;
  border: 10px black;
}

.project-link {
  position: relative;
  left: 40%;
  margin-top: -30px;
  padding-top: 10px;
  width: 100%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}

.github-link {
  position: relative;
  padding: 10px;
  width: 100%;
  top: 50%;
  left: 60%;
  margin: 50px;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}

.text-white {
  color: #AB886D;
}

.project-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-title {
  font-size: 1.05rem;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 0.5rem;
}

.project-description {
  font-size: 0.75rem;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
}

#nav_bar {
  text-align: right;
  max-width: max-content;
  margin-right: 5vh;
  flex-grow: 3;
  line-height: 35px;
  background-color: var(--background-primary);
  color: var(--color-primary);
  box-shadow: var(--box-shadow);
  padding: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
  z-index: 1000;
}

#nav_bar .nav-link {
  color: var(--color-primary);
  transition: color 0.3s ease;
}

#nav_bar .nav-link:hover {
  color: var(--color-reverse);
}

.nav-container{
  /* background-color: red; */
  margin-top: 45%;
}
.nav-item-container {
  position: relative;
  display: inline-block;
  padding: 10px 0;
  margin: 5px 0px;
}
.wiggle-line {
  display: block;
  margin-top: 4px; /* Reduce the gap between link and line */
  height: 10px; /* Keep it visible but compact */
}

/* Hamburger icon styling */


/* Navigation links */
#nav_bar .nav-links {
  display: flex; /* Always visible on large screens */
  flex-direction: column; /* Horizontal by default */
 
}

#nav_bar .nav-links.open {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 30px;
  padding:25px;
  border-radius: 0% 0%  20% 0%;
  left: 0;
  box-shadow: var(--box-shadow);
}



#nav_bar {
  position: relative;
  background-color: var(--background-primary);
  padding: 10px;
  box-shadow: var(--box-shadow);
}

/* Social icons */

.links {
  margin-top: 20px;
  width: 100%;
  letter-spacing: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.links a{
  margin:2px;
}


.links a:hover {
  width: auto;
  padding: 5px;
}
.ham-icon {
  display: none; /* Hide on larger screens */
}


/* On smaller screens, make nav-links hidden and hamburger icon visible */
@media (max-width: 768px) {
  #nav_bar .nav-links {
    display: none; 
    flex-direction: column;
    width: 100%;

  }
  .ham-icon{
    z-index: 1000;
    display: block;
    position:fixed;
    top:1%;
    padding:10px;
    width:10%;
    color: #bfac9a;

  }
  #nav_bar{
    /* background-color: red; */
  }


  .links {
    margin-top: 0px;
    background-color: #2c2320;
    position: fixed;
    top: 0%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    display: flex;
    right:0;
    flex-direction: row;
    justify-content: flex-end;
    align-items: right;
    padding:15px;
  }

  .links a {
    font-size: 20px;
    color:#bfac9a;
  }

  #nav_bar .nav-links a {
    color: #bfac9a;
  }
  .project-image {
    /* min-width: fit-content; */
    width: 100%;
    height:auto;
    object-fit: cover;
    border-radius: 10%;
  }
  /* #nav_bar .hamburger-icon {
    display: block;
    position:fixed;
    top:1%;
    padding:10px;
    width:10%;
    background-color: #bfac9a;
    z-index: 1000;
  } */

  /* When the nav-links are open, show them in a vertical stack */
  #nav_bar .nav-links.open {
    display: flex; /* Shows the nav-links when the open class is added */
    width: auto;
    position: fixed;
    background-color: #241c19;
    overflow: visible;
    color: #bfac9a;
  }
  #outer {
    flex-direction: column; /* Stack elements vertically */
    min-height: auto; /* Adjust height to fit content */
    align-items: flex-start; /* Align items to the start */
  }

  /* Adjust #inner to stack elements vertically on smaller screens */
  #inner {
    flex-direction: column; /* Stack inner elements vertically */
    flex-basis: 100%; /* Make inner elements take up the full width */
    align-items: flex-start; /* Align items to the start */
    flex-shrink: 0; /* Prevent shrinking */
  }
  .portfolio-item {
    width: 100%;
    overflow: hidden;
  }

  .iconLink {
    flex-direction: row;
  }

  .portfolio-row {
    width: 100%;
    flex-direction: column;
  }
}

/* @media (max-width: 480px) {
  .portfolio-item {
    width: 100%;
  }

  .portfolio-row {
    width: 100%;
    flex-direction: column;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-description {
    font-size: 0.65rem;
  }
}

@media (max-width: 1024px) {
  .portfolio-item {
    width: 48%;
  }
} */